* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
}
.collapse-center {
  justify-content: center;
}
.text_shadow {
  text-shadow: 1px 1px 2px #000 !important;
}
.cards {
  width: 18rem;
  height: 27em;
  margin: 1em;
}
.heder-bg,
.footer-bg {
  background: #fa4d62;
}
.title_color {
  color: #4b4041;
}
